<nav class="navbar" style="background-color: #7d7c7c">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Movie</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Movies"
        aria-label="Search"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div class="navbar-text" *ngIf="!this.login; else logout">
      <button class="btn btn-outline-primary me-1" routerLink="/login">
        Login
      </button>
      <button class="btn btn-primary" routerLink="/register">Signup</button>
    </div>
    <ng-template #logout>
      <div class="navbar-text">
        <button class="btn btn-outline-primary me-1" (click)="sigout()">
          Logout
        </button>
      </div>
    </ng-template>
  </div>
</nav>

<app-movielistdetial
  Des="Now Playing"
  [movielistdetial]="nowplaying"
></app-movielistdetial>
