<nav class="navbar" style="background-color: #7d7c7c">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Movie</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Movies"
        aria-label="Search"
        [(ngModel)]="search"
        name="search"
        (keyup.enter)="searchmovie(search)"
      />
      <button
        class="btn btn-primary"
        name="search"
        (click)="searchmovie(search)"
      >
        Search
      </button>
    </form>
    <div class="navbar-text" *ngIf="!this.login; else logout">
      <button class="btn btn-outline-primary me-1" routerLink="/login">
        Login
      </button>
      <button class="btn btn-primary" routerLink="/register">Signup</button>
    </div>
    <ng-template #logout>
      <div class="navbar-text">
        <button class="btn btn-outline-primary me-1" (click)="sigout()">
          Logout
        </button>
      </div>
    </ng-template>
  </div>
</nav>
<div
  class="detil"
  [style.background-image]="
    'url(https://image.tmdb.org/t/p/original/' +
    this.moviedetil['backdrop_path'] +
    ')'
  "
>
  <div style="display: flex; flex-direction: row">
    <img
      style="width: 21rem; height: 35rem; border: solid #f5f5dc 2px"
      src="https://image.tmdb.org/t/p/original/{{
        this.moviedetil['poster_path']
      }}"
    />
    <div style="display: flex; flex-direction: column; padding-left: 10px">
      <div style="display: flex; flex-direction: row">
        <h1 style="margin-bottom: -7px; margin-right: 1rem">
          {{ this.moviedetil["title"] }}
        </h1>
        <ng-container *ngFor="let genres of genres">
          <span class="genres">{{ genres["name"] }}</span>
        </ng-container>
      </div>
      <div style="display: flex; flex-direction: row">
        <a
          style="color: #212529; font-size: 1.7rem"
          target="_blank"
          href="{{ this.moviedetil['homepage'] }}"
          >{{ this.moviedetil["original_title"] }}</a
        >
        <p style="margin-left: 14px; margin-top: 14px">
          {{ getYear(this.moviedetil["release_date"]) }}
        </p>
        <span style="margin-top: 14px; margin-left: 10px; color: #0f2c59"
          >Movie Long: {{ this.moviedetil["runtime"] }}minutes</span
        >
      </div>
      <p style="width: 50rem; margin-top: -10px">
        {{ this.moviedetil["overview"] }}
      </p>
      <a
        href="https://www.youtube.com/embed/{{
          this.officialtrailerkey
        }}?autoplay=1&volume=30"
        target="_blank"
        style="
          color: #212529;
          font-size: 1.7rem;
          margin-top: -5px;
          width: 11.65rem;
        "
        >Watch Trailer</a
      >
      <div style="display: flex; flex-direction: column">
        <h1 style="color: #3e001f; margin-bottom: -5px">Actors:</h1>
        <div
          class="scroll"
          style="display: flex; height: auto; width: 48.99rem"
        >
          <div
            *ngFor="let actor of actors; let i = index"
            style="padding-right: 1px; padding-left: 0"
          >
            <div class="card" style="width: auto; height: 18rem">
              <img
                style="width: 8rem; height: 12rem; cursor: pointer"
                (click)="getactor(actor['id'])"
                src="https://image.tmdb.org/t/p/original/{{
                  actor['profile_path']
                }}"
                class="card-img-top"
              />
              <div class="card_body">
                <h5
                  style="
                    padding-top: 10px;
                    padding-left: 5px;
                    padding-bottom: -13px;
                    font-size: 0.872rem;
                    cursor: pointer;
                  "
                  (click)="getactor(actor['id'])"
                  class="card-title"
                >
                  {{ actor["name"] }}
                </h5>
              </div>
              <span
                class="card-text"
                style="font-size: 0.872rem; padding-left: 5px; color: #c0c0c0"
                >{{ actor["character"] }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-similar sml="More like this" [similarlist]="similar"> </app-similar>
</div>
