.actor {
  background: linear-gradient(
      rgba(255, 255, 255, 0.99),
      rgba(255, 255, 255, 0.99)
    ),
    url(../../assets/1154.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
.actordetial {
  width: 50rem;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 20px;
  background: linear-gradient(
    rgba(125, 124, 124, 0.5),
    rgba(125, 124, 124, 0.5)
  );
}
.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #ffbb5c;
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
}
.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #ffbb5c;
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
}
