<div
  style="
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  "
>
  <h1
    style="width: 10rem; color: #3e001f; cursor: pointer"
    (click)="movielistdetial(contain)"
  >
    {{ Des }}
  </h1>
  <div class="scroll" style="display: flex; height: auto; width: auto">
    <div
      *ngFor="let movie of movielist; let i = index"
      style="padding-right: 1px; padding-left: 0"
    >
      <ng-container *ngIf="loading; else cont">
        <div class="card" style="width: 15rem; height: 30rem">
          <ngx-skeleton-loader
            class="card-img-top"
            [theme]="{ width: '15rem', height: '20rem' }"
          ></ngx-skeleton-loader>
          <div class="card-body">
            <ngx-skeleton-loader
              class="card-title"
              [theme]="{ width: '7rem', height: '0.7rem' }"
            >
            </ngx-skeleton-loader>
            <br />
            <ngx-skeleton-loader
              class="card-title"
              [theme]="{ width: '2rem', height: '0.7rem' }"
            >
            </ngx-skeleton-loader>
            <br />
            <ngx-skeleton-loader
              class="card-title"
              [theme]="{ width: '9rem', height: '0.7rem' }"
            >
            </ngx-skeleton-loader>
            <ngx-skeleton-loader
              class="card-title"
              [theme]="{ width: '9rem', height: '0.7rem' }"
            >
            </ngx-skeleton-loader>
          </div>
        </div>
      </ng-container>
      <ng-template #cont>
        <div class="card" style="width: 15rem; height: 30rem">
          <img
            src="https://image.tmdb.org/t/p/original/{{ movie['poster_path'] }}"
            class="card-img-top"
            (click)="detial(movie['id']!)"
            style="cursor: pointer"
          />
          <div class="card-body">
            <h5
              style="cursor: pointer"
              class="card-title"
              (click)="detial(movie['id']!)"
            >
              {{ movie["title"] }}
            </h5>
            <i class="fa-solid fa-star" style="color: #ffd43b"
              ><span style="color: black">
                {{ movie["vote_average"] }}
              </span></i
            >
            <p
              class="card-text"
              style="
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              "
            >
              {{ movie["overview"] }}
            </p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
