<nav class="navbar" style="background-color: #7d7c7c">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Movie</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Movies"
        aria-label="Search"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <!-- <ng-container *ngIf=""> -->
    <div class="navbar-text">
      <button class="btn btn-outline-primary me-1" routerLink="/login">
        Login
      </button>
      <button class="btn btn-primary" routerLink="/register">Signup</button>
    </div>
    <!-- </ng-container> -->
  </div>
</nav>
<p>toprated works!</p>
